@footer_height: 50px;

@ToTargetColor: lighten(@FromTargetColor, 20%, relative);
@FromTargetColor: #107c10;

@ToClientColor: darken(@FromClientColor, 20%, relative);
@FromClientColor: DarkTurquoise;


#list {
  > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: @footer_height;
    background: white;
    border-top: 1px solid black;
  }

  .content:after {
    height: @footer_height;
    content: "";
    display: block;
  }
}

.ToTarget {
  background: @ToTargetColor;
}

.FromTarget {
  background: @FromTargetColor;
}

.ToClient {
  background: @ToClientColor;
}

.FromClient {
  background: @FromClientColor;
}

div.jsonClause {
  display: inline-block;

  &.dedicated {
    clear:both;
    display: block;
  }
}

.emoji {
  filter: grayscale(100%) brightness(200%) opacity(50%);
  cursor: pointer;
  font-weight: normal;
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols","EmojiOne Mozilla";
}

.fullFullLineCheckbox {
  float: right;
  margin-right: 10em!important;
  margin-top: 0.5em!important;;
}

webview {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
}